table {
    border-collapse: collapse;
    width: min(100%, 1500px); 
    margin-bottom: 10px;
    table-layout: fixed;
    word-wrap: break-word;
}

.ContestType {
    border: 1px solid grey;
    background: #ddd;
    padding: 2px 5px;
    text-align: center;
    font-size: x-small;
}

.ContestValue {
    border: 1px solid grey;
    background: wheat;
    padding: 2px 5px;
    text-align: center;
    font-size: x-small;
    cursor: pointer;
}

.ContestHolds{
    border: 1px solid grey;
    padding: 2px 5px;
    background: white;
    text-align: center;
    font-size: x-small;
    cursor: pointer;
}

.ContestHold{
    border: 2px solid blue;
    background: lightskyblue;
}

.Hold{
    
    font-size: 0;
}

textarea:read-only{
    background-color: lightgray;
}
input:read-only{
    background-color: lightgray;
}